/* General styles */
body {
  background: url('https://i.pinimg.com/originals/90/70/32/9070324cdfc07c68d60eed0c39e77573.gif') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  font-family: Arial, sans-serif;
}
